body {
  background-color: black;
}
h2{
  color:white;
}
header{
  color:white;
}
p{
  color:white;
}
h1{
  margin:1% 40% 1% 40%;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
